@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* CSS HEX */
:root {
  --black-blue: #00031F;
  --russian-violet: #1d174aff;
  --cornsilk: #fcf1cfff;
  --medium-champagne: #fde6a4ff;
  --quick-silver: #F3F3F3;
  --bone: #e1dacfff;
}

body {
  background-color: var(--quick-silver);
  color: var(--russian-violet);
  font-family: 'Inter', sans-serif;
  width: 100vw;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
}

hr {
  color: var(--bone);
}

.dark__body {
  background-color: var(--black-blue) !important;
  color: var(--cornsilk) !important;
}
/* ===== HEADER ===== */
header {
  background-color: var(--bone);
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 998;
}
/* BUTTON OPEN AND CLOSE */
.open__menu {
  position: fixed;
  top: 10px;
  left: 20px;
  cursor: pointer;
  font-size: 35px;
  z-index: 999;
  background-color: rgba(243, 243, 243, .5);
  padding: .5rem;
  border-radius: 50px;
}
/* ELEMENT HEADER */
header .logo {
  align-self: flex-start;
  width: 100px;
  aspect-ratio: 1;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  margin: 2rem 0;
  font-size: 2rem;
}

header ul li a {
  color: var(--russian-violet);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li a i {
  margin-left: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 3px solid var(--bone);
  border-radius: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--quick-silver);
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bone);
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--black-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color: var(--russian-violet);
  transform: translateX(26px);
}

/* ===== ABOUT ===== */

main {
  width: 90%;
  margin: auto;
}

#about {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.img__about {
  background-image: url(./pp.jpg);
  background-position: center;
  background-size: 800px;
  grid-row: 2 / 3;
  margin: auto;
  width: 90%;
  height: 300px;
  position: relative;
}

.img__about::before {
  content: "";
  background-color: var(--russian-violet);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .2s ease-in-out;
} 

.img__about:hover::before {
  top: 10px;
  left: -10px;
}

.text__about {
  background-color: var(--bone);
  text-align: justify;
  padding: 0.5rem;
  position: relative;
}

.text__about::before {
  content: "";
  background-color: var(--russian-violet);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.text__about:hover::before {
  top: 10px;
  left: -10px;
}

/* ===== PROJECTS ===== */
#projects {
  position: relative;
}

.button__previous, .button__next {
  font-size: 2.5rem;
  position: absolute;
  top: 55%;
  cursor: pointer;
}

.button__previous {
  left: 0px;
}

.button__next {
  right: 0px;
}

.slide__projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.slide {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 20rem;
  position: relative;
}

.slide:hover:before {
  content: "";
  position: absolute;
  background-color: rgba(243, 243, 243, 0.4);
  width: 100%;
  height: 100%;
}

.slide:hover:after {
  content: "Name of the project";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--russian-violet);
  color: var(--cornsilk);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

#projects img {
  width: 100%;
  height: 20rem;
  margin: auto;
  object-fit: cover;
}

.show__slide {
  display: block;
}

/* ===== SKILLS ===== */
.list__skills {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  position: relative;
}

.pop__up__skill {
  background-color: var(--bone);
  color: var(--russian-violet);
  width: 80px;
  padding: .3rem;
  position: absolute;
  top: -100px;
  left: -20px;
  opacity: 0;
}

.pop__up__skill::before {
  content: "";
  background-color: var(--bone);
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 30px;
  transform: rotate(45deg);
  border-radius: 2px;
  z-index: -1;
}

.skill i {
  font-size: 3rem;
}

/* ===== CONTACT ===== */
.main__contact {
  padding-top: 2.5rem;
}

.main__contact {
  padding-top: 3rem;
}

.text__info {
  background-color: var(--cornsilk);
  padding: .5rem;
}

iframe {
  width: 100%;
}

form {
  background-color: var(--cornsilk);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input__form {
  margin: .6rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input__form label {
  margin-bottom: .6rem;
  align-self: flex-start;
}

.input__form input {
  height: 1.3rem;
  width: 100%;
  border: none;
  padding: .3rem;
}

.input__form textarea {
  width: 100%;
}

form button {
  width: 30%;
  background-color: var(--russian-violet);
  color: var(--cornsilk);
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  #about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #about h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 0;
  }

  .img__about {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .text__about {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
  }

  .slide__projects {
    width: 50%;
    margin: auto;
  }

  .button__previous {
    left: 20%;
  }
  
  .button__next {
    right: 20%;
  }

  .main__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }

  .info__perso {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contact__form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .input__form input {
    width: 50%;
    align-self: flex-start;
  }

  form button {
    width: 20%;
    transition: all .5s linear;
  }

  form button:hover {
    background-color: var(--medium-champagne);
    color: var(--russian-violet);
  }
}